<div class="section-card">
  <h2 id="{{ note.get_id }}" class="card-title">{{ note.title }}</h2>
  {% if note.image_thumb %}
  <div class="pzt-thumbnail thumbnail-host">
    <a href="{{ note.image_full }}" class="pzt-lightbox">
      <img src="{{ note.image_thumb }}" alt="{{ note.title }}" />
    </a>
  </div>
  {% endif %}

  <div class="prose-pzt" style="font-size:15px">
    {{ note.content_html|safe }}
  </div>
  <ul class="list-clean" style="font-size:13px;color:var(--color-ink-3);margin-top:8px">
    {% if note.url1 %}<li>{% include 'components/icon.html' with type='link' %} {% include "components/external_link.html" with url=note.url1 %}</li>{% endif %}
    {% if note.url2 %}<li>{% include 'components/icon.html' with type='link' %} {% include "components/external_link.html" with url=note.url2 %}</li>{% endif %}
    {% if note.ref1 %}<li>{% include 'components/icon.html' with type='book' %} {{ note.ref1 }}</li>{% endif %}
    {% if note.ref2 %}<li>{% include 'components/icon.html' with type='book' %} {{ note.ref2 }}</li>{% endif %}
    {% if note.image_author or note.image_src_url or note.image_license %}
    <li>
      {% include 'components/icon.html' with type='camera' %}
      {% if note.image_author %} {{ note.image_author }}{% endif %}{% if note.image_src_url or note.image_license %},{% endif %}
      {% if note.image_src_url %}
      {% include "components/external_link.html" with url=note.image_src_url %}{% if note.image_license %},{% endif %}
      {% endif %}
      {% if note.image_license %} {{ note.image_license }}{% endif %}
    </li>
    {% endif %}
  </ul>
  {% include "components/content_foot.html" with pub_date=note.pub_date author=note.author %}
</div>
