{% extends "songs/base.html" %}

{% load thumbnail %}

{% block title %}Piosenki{% endblock title %}
{% block description %}Śpiewnik, opracowania i interpretacje piosenek.{% endblock description %}

{% block content %}
<div class="pzt-container">
  <section class="card-grid mb-8" style="margin-bottom:32px">
    {% for artist in hero_artists %}
    <a href="{{ artist.get_absolute_url }}" class="block" style="text-decoration:none">
      <div class="thumbnail-host">
        <img src="{{ artist.image_thumb }}" class="pzt-article-thumb" alt="{{ artist.name }}" />
        <div class="thumbnail-caption">
          <h2>{{ artist.name }}</h2>
        </div>
      </div>
    </a>
    {% endfor %}
  </section>

  {% include "songs/menu.html" %}
</div>
{% endblock content %}
