<div class="lyrics-content">
{% for paragraph in lyrics %}
<div class="paragraph">
  {% for line in paragraph %}
  <p class="lyric-line{% if line.2 %} indented{% endif %}"{% if line.2 %} style="padding-left:18px"{% endif %}>
    <span class="lyric">{{ line.0 }}</span>
    {% if line.1 %}
    <span class="chords">
      {% for chord_variant in line.1 %}
      <span class="chord chords-t{{ forloop.counter0 }}"{% if forloop.counter0 != 0 %} style="display:none"{% endif %}>{{ chord_variant }}</span>
      {% endfor %}
    </span>
    {% endif %}
  </p>
  {% endfor %}
</div>
{% endfor %}
</div>
