{% extends "events/base.html" %}

{% block title %}Koncerty, przeglądy, festiwale – nadchodzące wydarzenia{% endblock %}

{% block content %}
<div class="pzt-container">
  <div class="layout-split">
    <div class="section-card">
      <h2 class="card-title">Nadchodzące wydarzenia</h2>
      <ul class="list-clean">
        {% for event in events %}
        <li>
          {% include "events/event_link.html" with event=event %}
          {% if user %}
          <a href="{{ event.get_edit_url }}">{% include 'components/icon.html' with type='pencil' %}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <hr />
      <div>
        <a href="{% url 'add_external_event' %}">
          {% include 'components/icon.html' with type='plus' %}
          Dodaj nowe wydarzenie (odnośnik)
        </a>
      </div>
    </div>
    <aside>
      <div class="section-card">
        <h2 class="card-title">Polecamy i pozdrawiamy</h2>
        <ul class="list-clean">
        {% for performer in performers %}
        <li>
          <b>{{ performer }}</b>
          {% if performer.website %}
          &middot; <a href="{{ performer.website }}" target="_blank" rel="noopener">strona internetowa
            {% include 'components/icon.html' with type='external-link' %}
          </a>
          {% endif %}
          {% if performer.fb_page_id %}
          &middot; <a href="https://www.facebook.com/{{ performer.fb_page_id }}" target="_blank" rel="noopener">Facebook
            {% include 'components/icon.html' with type='external-link' %}
          </a>
          {% endif %}
        </li>
        {% endfor %}
        </ul>
      </div>
    </aside>
  </div>
</div>
{% endblock content %}

{% block extra-scripts %}
{% if google_maps_js_api_key %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_js_api_key }}" defer></script>
{% endif %}
{% endblock extra-scripts %}
